<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Booking Page</title>
<link rel="stylesheet" href="/css/booking.css">
</head>
<body>
    {{>header}}
    <div id="vip" class="booking">
       <a href="http://127.0.0.1:3000/booking/vipBooking"> <h1>VIP Entry</h1></a>
    </div>
    <div id="shop" class="booking">
      <a href="http://127.0.0.1:3000/booking/shopBooking"> <h1>Shop Booking</h1></a>
    </div>
    <div id="hall" class="booking">
        <a href="http://127.0.0.1:3000/booking/hallBooking"> <h1>Hall Booking</h1></a>
    </div>
</body>
</html>