<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful </title>
</head>
<link rel="stylesheet" href="/css/token.css">
<body>
    
    <h1>Congratulations {{user.uname}} Your seat is booked for date {{user.date}} Your Token number is {{user.no}}</h1>
</body>
</html>